# Enable support for absl types like string_view in gtest.
build --define="absl=1"
run --define="absl=1"
test --define="absl=1"
# Cannot use 'common' because 'bazel version' fails with this.

# Gather build version information
build --workspace_status_command=bazel/build-version.sh
run --workspace_status_command=bazel/build-version.sh
test --workspace_status_command=bazel/build-version.sh

# Use C++17 (bazel defaults to C++0x (pre-C++11))
# TODO(b/171679296): Lower the requirement, go back to c++11
build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17 --client_env=BAZEL_CXXOPTS=-std=c++17
run --cxxopt=-std=c++17 --host_cxxopt=-std=c++17 --client_env=BAZEL_CXXOPTS=-std=c++17
test --cxxopt=-std=c++17 --host_cxxopt=-std=c++17 --client_env=BAZEL_CXXOPTS=-std=c++17
