# Enable support for absl types like string_view in gtest.
build --define="absl=1"

# Gather build version information
build:linux --workspace_status_command=bazel/build-version.py
build:macos --workspace_status_command=bazel/build-version.py
build:windows --workspace_status_command="python bazel/build-version.py"

build --enable_platform_specific_config

common:linux --cxxopt=-std=c++17 --host_cxxopt=-std=c++17 --client_env=BAZEL_CXXOPTS=-std=c++17

# https://github.com/abseil/abseil-cpp/issues/848
# https://github.com/bazelbuild/bazel/issues/4341#issuecomment-758361769
common:macos --features=-supports_dynamic_linker --cxxopt=-std=c++17 --host_cxxopt=-std=c++17 --client_env=BAZEL_CXXOPTS=-std=c++17

common:windows --cxxopt=/std:c++20 --cxxopt=/Zc:__cplusplus --host_cxxopt=/std:c++20 --host_cxxopt=/Zc:__cplusplus --client_env=BAZEL_CXXOPTS=/std:c++20

# Address sanitizer settings.
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
