# Enable support for absl types like string_view in gtest.
build --define="absl=1"
run --define="absl=1"
test --define="absl=1"
# Cannot use 'common' because 'bazel version' fails with this.

# Gather build version information
build --workspace_status_command=bazel/build-version.sh
run --workspace_status_command=bazel/build-version.sh
test --workspace_status_command=bazel/build-version.sh

build --enable_platform_specific_config

# Use C++17 (bazel defaults to C++0x (pre-C++11))
# TODO(b/171679296): Lower the requirement, go back to c++11
common:linux --cxxopt=-std=c++17 --host_cxxopt=-std=c++17 --client_env=BAZEL_CXXOPTS=-std=c++17

# https://github.com/abseil/abseil-cpp/issues/848
# https://github.com/bazelbuild/bazel/issues/4341#issuecomment-758361769
common:macos --features=-supports_dynamic_linker --cxxopt=-std=c++17 --host_cxxopt=-std=c++17 --client_env=BAZEL_CXXOPTS=-std=c++17

# Force the use clang-cl on Windows instead of MSVC. MSVC has some issues with
# the codebase, so we focus the effort for now is to have a Windows Verible
# compiled with clang-cl before fixing the issues unique to MSVC.
common:windows --compiler=clang-cl --cxxopt=/std:c++17 --host_cxxopt=/std:c++17 --client_env=BAZEL_CXXOPTS=/std:c++17
