---
# Disabled some clang-analyzer static checks, need some more investigation.
# TODO(hzeller) fix and re-enable clang-analyzer checks.
# TODO(hzeller) Looking over magic numbers might be good, but probably
#               not worthwhile hard-failing
# TODO(hzeller) Fix qualified auto readability suggestions and enable.
# TODO(hzeller) Explore anofalloff suggestions.
# readability-make-member-function-const is great, but it also suggests that
#    in cases where we return a non-const pointer. So good to check, not by
#    default.
Checks: >
  clang-diagnostic-*,clang-analyzer-*,
  -clang-analyzer-core.NonNullParamChecker,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-diagnostic-unused-const-variable,
  abseil-*,-abseil-no-namespace,
  readability-*,
  -readability-braces-around-statements,
  -readability-named-parameter,
  -readability-isolate-declaration,
  -readability-redundant-access-specifiers,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-else-after-return,
  -readability-qualified-auto,
  -readability-use-anyofallof,
  -readability-make-member-function-const,
  -readability-function-cognitive-complexity,
  google-*,
  -google-readability-braces-around-statements,
  -google-readability-todo,
  performance-*,
  bugprone-*,
  -bugprone-narrowing-conversions,
  -bugprone-branch-clone,
  -bugprone-reserved-identifier,
  -bugprone-move-forwarding-reference,
  -bugprone-exception-escape,
  modernize-use-override,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -misc-unused-parameters,
  -misc-redundant-expression,

WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
...
